Diagnostics:
  UnusedIncludes: None
  Suppress:
    - pp_including_mainfile_in_preamble  # Игнорировать ошибку рекурсивного включения

CompileFlags:
  Add: 
    - "--target=riscv32-unknown-elf"
    - "-D__riscv_xw=1"  # Определяем макрос для нестандартного расширения
  Remove:
    - "-G*"
    - "-mabi=*"
    - "-march=rv32imacxw"  # Удаляем проблемную архитектуру